
/App/bin/Debug/App.exe
/App/bin/Debug/App.exe.config
/App/bin/Debug/App.pdb
/App/bin/Debug/App.vshost.exe
/App/bin/Debug/App.vshost.exe.config
/App/bin/Debug/Indexers.dll
/App/bin/Debug/Indexers.pdb
/App/bin/Debug/Interfaces.dll
/App/bin/Debug/Interfaces.pdb
/App/obj/x86/Debug/App.ConnectPeer.resources
/App/obj/x86/Debug/App.MusicWindow.resources
/App/obj/x86/Debug/App.Properties.Resources.resources
/App/obj/x86/Debug/App.csproj.FileListAbsolute.txt
/App/obj/x86/Debug/App.exe
/App/obj/x86/Debug/App.pdb
/App/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/App/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/App/obj/x86/Debug/GenerateResource.read.1.tlog
/App/obj/x86/Debug/GenerateResource.write.1.tlog
/App/obj/x86/Debug/ResolveAssemblyReference.cache
/Indexers/bin/Debug/Indexers.dll
/Indexers/bin/Debug/Indexers.pdb
/Indexers/bin/Debug/Interfaces.dll
/Indexers/bin/Debug/Interfaces.pdb
/Indexers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Indexers/obj/Debug/Indexers.csproj.FileListAbsolute.txt
/Indexers/obj/Debug/Indexers.dll
/Indexers/obj/Debug/Indexers.pdb
/Indexers/obj/Debug/ResolveAssemblyReference.cache
/Interfaces/bin/Debug/Interfaces.dll
/Interfaces/bin/Debug/Interfaces.pdb
/Interfaces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Interfaces/obj/Debug/Interfaces.csproj.FileListAbsolute.txt
/Interfaces/obj/Debug/Interfaces.dll
/Interfaces/obj/Debug/Interfaces.pdb