<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="port" value="8082"/>
    <add key="DATABASE_FILE" value="Content/MusicDatabaseViewer.msdb"/>
  </appSettings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="8082"/>
      </channels>

      <service>
        <!-- Namespace.Type, Assembly  -->
        <wellknown type="Logic.SearchEngine, Logic"
                   mode="Singleton"
                   objectUri="SearchEngine"/>

        <wellknown type="Logic.Peer, Logic"
                   mode="Singleton"
                   objectUri="ResponseAgent"/>
      </service>
    </application>
  </system.runtime.remoting>
</configuration>