<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="port" value="8080"/>
    <add key="DATABASE_FILE" value="Content/MusicDatabaseViewer.msdb"/>
  </appSettings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="8080">
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>

      <service>
        <!-- Namespace.Type, Assembly  -->
        <wellknown type="Logic.SearchEngine, Logic"
                   mode="Singleton"
                   objectUri="SearchEngine"/>
      </service>
    </application>
  </system.runtime.remoting>
</configuration>