<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="8080"/>
      </channels>

      <service>
        <!-- Namespace.Type, Assembly  -->
        <wellknown type="Indexers.LocalIndexer, Indexers"
                   mode="Singleton"
                   objectUri="Indexer"/>
      </service>
    </application>
  </system.runtime.remoting>
</configuration>